.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
}
.wrapper .avatar {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 20px 0;
  vertical-align: top;
  box-sizing: border-box;
}
.wrapper .text {
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  height: 1px;
  background: #000;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
}
